.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  overflow: hidden;
}

.emptyCell {
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  background-color: #f9fafb;
}

.emptyCell:nth-child(7n) {
  border-right: none;
}
